.cart-container {
  margin: 3vw 20vw;
  min-height: 400px;
}

.cart-card {
  margin-bottom: 1vw;
  font-size: small;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 40px;
}

.btn-amount{
    font-weight: 700;
    padding: 5px;
    width: 50px;
}