.bg-image {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/90c606ed-a946-4a58-8896-8b53c38d2526/dc5lphg-5714e2b7-a13d-4d5b-81e8-956729d84262.png/v1/fill/w_1024,h_265,strp/_header__april___digimon_by_decidiuouss_dc5lphg-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY1IiwicGF0aCI6IlwvZlwvOTBjNjA2ZWQtYTk0Ni00YTU4LTg4OTYtOGI1M2MzOGQyNTI2XC9kYzVscGhnLTU3MTRlMmI3LWExM2QtNGQ1Yi04MWU4LTk1NjcyOWQ4NDI2Mi5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sLtxlg_MtYwxfTMzXxsCM4ZyFZEFNRt31757kjQkVtU");
  height: 220px;
  opacity: 100%;
}
.header-title {
  color: black;
  font-weight: 700;
}
.nav-link {
  font-size: 1.2vw;
  font-weight: 700;
}

.nav-item{
  margin: 0 10px;
}

